.main-component {
  min-width: 100%;
}

.counter {
  display: flex;
  flex-direction: row;
  margin: 0px auto 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 700px;
  font-size: 20px;
  font-weight: bolder;
}

p {
  margin: 0px 5px;
}

.time-block {
  margin: 0 20px;
}

.time-item {
  font-size: 70px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.time-block > .time-item {
  border-radius: 10px 10px 0 0;
  border-color: rgb(200, 200, 200);
  border-style: solid;
  border-width: 2px 2px 0px 2px;
  background-color: black;
}

.text {
  margin-top: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 160px;
  margin: 0 5px;
  padding: 0px;
  background-color: black;
  border-color: rgb(200, 200, 200);
  border-style: solid;
  border-width: 0px 2px 2px 2px;
  border-radius: 0 0 10px 10px;
}

button {
  background-color: rgba(60, 60, 60, 0.5);
  width: 100%;
  border-radius: 10px;
  color: rgb(200, 200, 200);
}

button:hover {
  background-color: rgba(60, 60, 60, 0.8);
}

@media (max-width: 767px) {
  .counter {
    max-width: 480px;
    font-size: 18px;
  }
  .time-block {
    margin: 0 7px;
  }
  .time-item {
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .time-block > .time-item {
    max-width: 115px;
  }
  .buttons {
    max-width: 115px;
  }
  button {
    font-size: 12px;
  }
}

@media (max-width: 479px) {
  .counter {
    max-width: 280px;
    font-size: 14px;
  }
  .time-block {
    margin: 0 6px;
  }
  .time-item {
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .time-block > .time-item {
    max-width: 55px;
  }
  .buttons {
    max-width: 55px;
  }
  button {
    font-size: 8px;
  }
}
